*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'bof';
    src: url(/css/fonts/BirthoftheFurious.woff);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'lucida';
    src: url(/css/fonts/LCALLIG.woff);
    font-style: normal;
    font-weight: 100;
}

body{
    background-image: url(/css/img/stix/dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.grid{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:300px 1fr 1fr;
    grid-gap:2em;
}

.form-group input{
    width:100%;
    height:35px;
    box-shadow: 1px 2px 3px black;
    border-radius: 5px;
    border: none;
}

.form-group input[placeholder]{
    padding:1em;
}
/* MESSAGE */
.main{
    grid-row: 1/2

}
.content{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    height: 100%;
}
/* TITLE */
.content .title{
    grid-row: 1/2
}
.content .title h1{
    font-size:9em;
    letter-spacing: 15px;
    color:rgb(247, 247, 247);
    text-shadow: -3px 5px 5px black;
    font-family: bof;
}
/* END OF TITLE */
/* CONTENT */
.content .message{
    grid-row:2/3;
}
.content .message p{
    text-align: center;
    font-size: 2em;
    color:rgb(247, 247, 247);
    text-shadow: -3px 5px 5px black;
    padding: 1em;
    font-family: lucida;
    font-weight: 100;
}


/* END OF CONTENT */
.content .copyright{
    grid-row:3/4;
}
.content .copyright p{
    padding: 1em;
    font-style: italic;
    color:rgb(247, 247, 247);
    text-shadow: -3px 5px 5px black;
}
/* END OF MESSAGE */

/* LOGIN */
.login{
    grid-row: 3/4;
    background-color: rgba(242, 242, 242, 0.95);
    height: 100%;
    padding: 1em;
    border:10px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: -2px 3px 3px black;
}

.login:hover{
    background-color: inherit;
    transition: 1s;
}
.login .title{
    padding: 1em;
    display:block;
    font-size: 1em;

}
.login .form-group{
    padding: 0.5em;
}

.login form button{
    float:right;
    font-size: 1em;
    border:1px solid black;
    background-color: rgba(242, 242, 242, 0.95);
    border-radius: 5px;
    padding:0.5em;
}
.login form button:hover{
    cursor: pointer;
    float:right;
    font-size: 1em;
    border:1px solid black;
    box-shadow: -1px 1px 5px black;
    background-color: inherit;
    border-radius: 5px;
    font-weight: bold;
    padding:0.5em;
    background-color: gold;
    transition: all 0.3s;
}
/* END OF LOGIN */
/* REGISTER */
.register{
    grid-row: 4/5;
    background-color: rgba(242, 242, 242, 0.95);
    height: 100%;
    padding: 1em;
    border:10px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: -2px 3px 3px black;
}

.register:hover{
    background-color: inherit;
    transition: 1s;
}

.register a{
    color: inherit;
    text-decoration:none;
    float:right;
    font-size: 1em;
    border:1px solid black;
    background-color: rgba(242, 242, 242, 0.95);
    border-radius: 5px;
    padding:0.5em;
}
.register a:hover{
    cursor: pointer;
    float:right;
    font-size: 1em;
    border:1px solid black;
    box-shadow: -1px 1px 5px black;
    background-color: inherit;
    border-radius: 5px;
    font-weight: bold;
    padding:0.5em;
    background-color: gold;
    transition: all 0.3s;
}

/* END OF REGISTER */

@media screen and (min-width: 736px){
    body{
        overflow: hidden;
    }

    .grid{
        width:100%;
        height: 100%;
        padding:6em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:300px 1fr;
        grid-gap:2em;
    }

    .main{
        grid-column: 1/2;
        grid-row: 1/3

    }
    .login{
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: rgba(242, 242, 242, 0.95);
        width:50%;
        height: 100%;
        padding: 1em;
        border:10px solid rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        box-shadow: -2px 3px 3px black;
    }

    .register{
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgba(242, 242, 242, 0.95);
        width:50%;
        height: 120px;
        padding: 1em;
        border:10px solid rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        box-shadow: -2px 3px 3px black;
    }

}
